@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Nanum+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Carrois Gothic", sans-serif;
}

body {
  background-color: #111;
}

div {
  background-color: #100;
  color: #FEE;
  width: 95vw;
  border: 1px solid darkred;
  box-shadow: 0 0 5px darkred;
  margin: 1rem auto;
  padding: 0.5rem;
}