@use './variables' as *;

@mixin generalDiv($width) {
    background-color: $box-bg;
    color: $font-primary;
    box-shadow: $box-shadow;
    padding: $size-s $size-m;
    border-radius: $size-xs;
    width: $width;
}

@mixin btn() {
    font-family: inherit;
    color: $font-primary;
    font-size: $size-m;
    border: $box-border;
    border-radius: $size-xxs;
    padding: $size-xxs;
    background-color: $bg-color-button;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
        transition: filter 0.1s ease-in-out;
        filter: brightness(1.5);
    }

    &:active {
        transform:scale(0.95);
    }
}