// Colors

$bg-color: rgba(#111, 0.8);
$box-bg: rgba(#080000, 0.9);
$font-primary: #FEE;
$border-color: #711;
$bg-color-secondary: #200;
$bg-color-button: #400;
$gain: limegreen;
$loss: red;
$disabled: gray;

$bg-separator: linear-gradient(90deg, transparent, $border-color, transparent);
$bg-separator-vertical: linear-gradient(transparent, $border-color 25% 75%, transparent);
$progressbar: linear-gradient(90deg, $bg-color-secondary, $border-color);

// borders

$box-border: 1px solid $border-color;

// shadows

$box-shadow: 0 0 5px $border-color;
$text-shadow: 0 0 5px $border-color;

// sizing

$size-xl: 2rem;
$size-l: 1.5rem;
$size-ml: 1.2rem;
$size-m: 1rem;
$size-s: 0.8rem;
$size-xs: 0.5rem;
$size-xxs: 0.3rem;