@use '../abstracts' as *;

div {
    background-color: $box-bg;
    color: $font-primary;
    width: 95vw;
    //border: $box-border;
    box-shadow: $box-shadow;
    margin: 0 auto $size-m;
    padding: $size-sm;
    border-radius: $size-sm;
}

.test {
    width: 90%;
    height: 600px;
}