@use '../abstracts' as *;

@mixin generalDiv($width) {
    background-color: $box-bg;
    color: $font-primary;
    box-shadow: $box-shadow;
    padding: $size-sm $size-m;
    border-radius: $size-sm;
    width: $width;
}

.resource-bar {
    @include generalDiv(100%); 
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-flow: column nowrap;
}

.info-box {
    @include generalDiv(100%); 
    grid-area: 1 / 1 / 2 / 2;
    height: 200px;
}

.navigation {
    @include generalDiv(100%); 
    grid-area: 3 / 1 / 4 / 2;
    height: 200px;
}

.content {
    @include generalDiv(100%); 
    grid-area: 1 / 2 / 4 / 3; 
}

.horizontal-separator {
    width: 100%;
    height: 1px;
    border-bottom: $box-border;
    opacity: 0.6;
    margin: 0.2rem 0;
}