@use '../abstracts' as *;

.buttonPrimary {
    @include btn;
}

.buttonRadial {
    @include btn;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.disabled {
    @include btn;
    color: $disabled;
    border-color: $disabled;

    &:hover {
        filter: none;
        transition: none;
    }

    &:active {
        transform: none;
    }
}

.disabledRadial {
    @extend .disabled;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}