.progressBar {
    border: $box-border;
    height: 12px;
    width: 50%;
}

.progressBarInisde {
    background: $progressbar;
    margin: 2px;
    height: 6px;
    width: 97%;
}

.progressBarRadial {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(closest-side, $box-bg 79%, transparent 80% 100%), conic-gradient($border-color 0%, $bg-color-secondary 0); 
}