@use '../abstracts' as *;

.res-box {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 3fr 2fr;
    gap: 0 $size-s;
    align-items: center;
}

.res-img {
    grid-area: 1 / 1 / 3 / 2;

    img {
        width: $size-xl;
        height: $size-xl;
    }

}

.res-amount {
    grid-area: 1 / 2 / 2 / 3;
    font-size: $size-ml;
    font-weight: 700;
    cursor: default;
    user-select: none;
}

.res-change {
    grid-area: 2 / 2 / 3 / 3;
    font-size: $size-s;
    cursor: default;
    user-select: none;
}
