.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: $box-bg;
    color: $font-primary;
    font-size: $size-m;
    border: $box-border;
    box-shadow: $box-shadow;
    border-radius: $size-xxs;
    padding: $size-xxs $size-xs;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    user-select: none;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }