@use '../abstracts' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family: 'Carrois Gothic', sans-serif;
    background-image: url('../../media/images/background/main.png');
    background-image: url('../media/images/background/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

body {
    background-color: $bg-color;
    height: 100vh;
    min-width: 1280px;
}

header {
    padding: $size-l;
    background: radial-gradient(ellipse at top, #281111, transparent);
}

.main {
    //width: 95vw;
    margin: 0 $size-xl;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
    gap: $size-l;
}

img {
    display: block;
}