@use '../abstracts' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family: 'Carrois Gothic', sans-serif;
    background-image: url('../../media/images/background/main.png');
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: $bg-color;
    height: 100vh;
}

header {
    padding: $size-l;
    background: radial-gradient(ellipse at top, #281111, transparent);
}

img {
    display: block;
}