@use '../abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Nanum+Gothic&display=swap');

h1, h2, h3 {
    text-align: center;
    color: $font-primary;
    text-shadow: $text-shadow;
    line-height: 1;
    cursor: default;
    user-select: none;
}

h1 {
    text-transform: uppercase;
    letter-spacing: $size-l;
    font-size: 3.5rem;
    display: block;
}

.header__h3 {
    letter-spacing: $size-xs;
}

.gain {
    color: $gain;
}

.loss {
    color: $loss;
}

.bold {
    font-weight: bold;
}

span {
    white-space: nowrap;
}